# .gitignore
# Virtual environment
venv/
env/
.env
src/venv39/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
*.tfvars

# AWS
.aws/
*.pem

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# SageMaker
sagemaker_config.json
*.tar.gz

# Data files
data/*.csv
data/*.json
data/*.parquet
data/

src/minhash_implementation.py

# build related
build/
distributed_curator.egg-info/

# scala build related
target/
project/*
# plugins.sbt is needed for pre-commit
!project/plugins.sbt
!project/build.properties
project/target/
project/project/
.bsp/
.metals/
.scala-build/
.bloop/


# pyspark build
distributed_curator/dependencies.zip

# logs
logs/
to_do.md
spark_history_logs/

# Cython downloaded code
distributed_curator/cython_minhash/mmh3-5.2.1/
distributed_curator/cython_minhash/*.so
distributed_curator/cython_minhash/build/
distributed_curator/cython_minhash/build/
# result of build
distributed_curator/cython_minhash/shingle_hash.c 
distributed_curator/jars/*.jar
