# .gitignore
# Virtual environment
venv/
env/
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
*.tfvars

# AWS
.aws/
*.pem

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# SageMaker
sagemaker_config.json
*.tar.gz

# Data files
data/*.csv
data/*.json
data/*.parquet

src/minhash_implementation.py

# scala build related
target/
project/*
# plugins.sbt is needed for pre-commit
!project/plugins.sbt
project/target/
project/project/
.bsp/
.metals/
.scala-build/
.bloop/


# pyspark build
src/dependencies.zip

# logs
logs/
to_do.md
spark_history_logs/

# Cython downloaded code
src/cython_minhash/mmh3-5.2.1/
src/cython_minhash/MurmurHash3.c
src/cython_minhash/MurmurHash3.h
src/cython_minhash/*.so
src/cython_minhash/build/
src/cython_minhash/build/
# result of build
src/cython_minhash/shingle_hash.c 
